<h1> Welcome Admin </h1>
 <%= paginate @users %>
<table>
  <thead>
    <th>USER-ID</th>
    <th>USER-EMAIL</th>
  </thead>
  <tbody>
  <% @users.each do |user| %>
   <tr>
    <td> <%= user.id %> </td> 
    <td> <%= user.email %> </td>
    <tr>
  <% end %>
  </tbody>
</table>


<!--      t.string   "email"
    t.string   "password_digest"
    t.datetime "created_at"
    t.datetime "updated_at"
    t.string   "firstname"
    t.string   "lastname"
    t.boolean  "admin" -->